*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.caja{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
    position: absolute;
    animation-name: animacion;
    animation: animacion 4s;
    animation-timing-function: cubic-bezier(.22,.72,1,.57);
    animation-delay: 2s;
    animation-iteration-count: 1000;
    animation-direction: alternate, reverse, normal;
}

@keyframes animacion{
    0%{background-color: lightblue;
        top: 0;
        left: 0;
    }
    25%{background-color: lightcoral;
        top: 0;
        left: 400px;
    }
    50%{background-color: lightgoldenrodyellow;
        position: relative;
        top: 400px;
        left: 400px;
    }
    75%{background-color: lightgray;
        top: 400px;
        left: 0;
    }
    100%{background-color: lightgreen;
        top: 0;
        left: 0;
    }
}
